<div class="mt-5">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Surnom</th>
      <th>Email</th>
      <th>Adresse</th>
      <th>Code Postal</th>
      <th>Ville</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        {{theUser?.lastname}}
      </td>
      <td>
        {{theUser?.firstname}}
      </td>
      <td>
        {{theUser?.nickname}}
      </td>
      <td>
        {{theUser?.email}}
      </td>
      <td>
        {{theUser?.address}}
      </td>
      <td>
        {{theUser?.postalCode}}
      </td>
      <td>
        {{theUser?.city}}
      </td>
      <td>
        <button class="btn btn-warning" (click)="isOnModifyAccount=true">Modifier</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <a class="btn btn-success" routerLink="/userIndex">Voir l'index utilisateur</a>
</div>

<app-form-user [user]="theUser" [isOnModifyForm]="isOnModifyAccount" [hidden]="isOnModifyAccount==false"></app-form-user>
