
<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent d-flex justify-content-between">
      <a class="navbar-brand  d-flex align-items-center" href="index.html">
        <div class="d-flex flex-column">
          <span>Cours</span><span>sur</span><span>Angular</span>
        </div>
      </a>
      <a class="navbar-toggler" role="button" data-bs-toggle="offcanvas" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggler-icon">
          |||
        </div>
      </a>
      <div class="offcanvas offcanvas-end" id="navbarToggler">
        <div class="offcanvas-header">
          <a class="btn" role="button" data-bs-dismiss="offcanvas" aria-label="Close">X</a>

        </div>
        <ul class="navbar-nav gap-4 justify-content-end align-items-center">
          <li class="nav-item activePage">
            <a class="nav-link" routerLink="" title="Aller à la page d'accueil">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/angular/cours" title="Aller à la page Cours">Cours</a>
          </li>
          <li class="navMobile nav-item">
            <a class="nav-link" routerLink="/angular/compteur" title="Aller à la page Compteur">Compteur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/angular/yahtzee" title="Aller à la page Yahtzee">Yahtzee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/angular/regions" title="Aller à la page Region">Regions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/angular/alltab" title="Aller à la page mltp">Table de mltp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cardsGame" title="Aller à la page jeux de cartes">Jeux de cartes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userIndex" title="Aller à la page index">Index</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
